html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    color: 
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* close commented backslash hack */

.site_header {
    height: 60px;
    width: 100%;
    background-color: rgba(35, 47, 62, 0.8);
    color: #EEEEEE;
    padding-top: 22px;
}

.site_header a {
    color: #EEEEEE;
    transition: all .25s ease-in-out 0s;
}

.site_header a:after {
    content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}


.site_header a:hover:after {
    width: 100%;
	background: #FF9900;
}

.logo {
    font-family: verdana;
    letter-spacing: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

.logo_container {
    float: left;
}

.container {
    max-width: 1200px;
    width: 100%; 
    margin: auto;
}

.main_nav {
    float: right;
}

.main_nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-family: courier;
    font-size: 16px;
}
