html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #112D32; 
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* close commented backslash hack */

/* the navigation bar */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}

.site_header {
    height: 60px;
    width: 100%;
    background-color: rgba(79, 74, 65, 0.9);
    box-shadow: 0px 0px 5px #4f4a41;
    color: #EEEEEE;
    padding-top: 22px;
}

.main_nav a {
    color: #efefef;
    transition: all .25s ease-in-out 0s;
}

.main_nav a:after {
    content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}


.site_header a:hover:after {
    width: 100%;
	background: #88BDBC;
}

.logo {
    font-family: Lucida Console;
    letter-spacing: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 0px 2px #4f4a41;
}

.logo img {
    height: 42px;
    width: auto;
    margin-top: -11px;
    opacity: 0.9;
}

.logo_container {
    float: left;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.main_nav {
    float: right;
}

.main_nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-family: courier new;
    font-size: 16px;
}

/* begin unique page content */

.banner {
    color: #ffffff;
    height: 100vh;
    width: 100%;
    background: url("https://raw.githubusercontent.com/eaherberg/eaherberg.github.io/master/assets/images/banner_teal.jpg") no-repeat center center fixed; 
    background-size: cover;
    padding-top: 70px;
}

.banner_text {
    text-align: center;
    height: 80vh;
    padding-top: 150px;
    font-family: monospace;
    font-weight: bolder;
}

.greeting {
    display: inline-block;
    font-size: 50px;
    border: 5px solid #ffffff;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.banner_text h1 {
    font-family: courier new;
    font-size: 40px;
    padding: 0 100px;
    letter-spacing: -1px;
}

.highlight {
    background-color: #000000;
    background-image: linear-gradient(to left, #4f4a41 100%, #4f4a41 100%);
    background: rgba(79, 64, 65, 0.8);
}

/* end unique page content */

.footer {
    padding-top: 20px;
    height: 40px;
    width: 100%;
}

.copyright {
    font-family: Lucida Console;
    color: #112D32;
    text-decoration: none;
    font-size: 14px;
    float: left;
}

.media {
    float: right;
}

.media ul li {
    display: inline-block;
    margin-left: 20px;
    font-family: courier new;
    opacity: 0.6;
    filter: alpha(opacity=50); 
}

.media_icons img{
    height: 25px;
    filter: grayscale(100%)
}

.media ul li:hover {
    opacity: 0.8; 
    filter: grayscale(100%);
}

